.btn
  border: none
  width: 49%
  height: 30px
  text-transform: uppercase
  margin-top: 20px
  &--add
    background-color: #e7e7e7

.btn-icon
  border: none
  width: 20px
  height: 20px
  opacity: 0
  margin: 2px
  &--change
    background-image: url("../image/icon/icon-edit.svg")
  &--close
    background-image: url("../image/icon/icon-close.svg")
  &--del
    background-image: url("../image/icon/icon-minus.svg")
  &--add
    background-image: url("../image/icon/icon-close.svg")
    transform: rotate(45deg)
  &--check
    background-image: url("../image/icon/icon-check.svg")

.btn-view
  & .btn-icon
    opacity: .3
    &:hover
      opacity: .8

.input
  border: none
  border: 1px solid #e7e7e7
  border-radius: 3px
  padding: 5px
  min-height: 30px
  height: 40px
  margin-bottom: 10px
  padding: 5px
  width: 260px

.input-self
  border: none
  background: none
  color: #95a1c5
  font-size: 20px
  font-family: "Ubuntu", sans-serif
  text-align: center
