// color for blocks sidebar
$clr-light-greenish-blue: #aac9ce
$clr-blue-crayola: #b6b4c2
$clr-purplish-blue: #c9bbc8
$clr-pale-purplish-blue: #e5c1cd
$clr-creamy-cream: #f3dbcf
$clr-white: #f8f8f8
$clr-dark: #786b64
$clr-font-sidebar: #95a1c5